fastapi==0.115.5
uvicorn==0.32.1
pandas==2.2.2
matplotlib==3.8.4
psycopg2==2.9.10
python-dotenv==0.21.0
plotly==5.22.0
google-generativeai==0.8.3
kaleido==0.2.1
ipython==8.12.3
nbformat>=4.2.0
googlemaps==4.10.0
langchain_community==0.3.8